h1 {
  color: gray;
}

img {
  max-width: 300px;
}

/*header*/
nav {
  background-color: #999;
}

.nav-wrapper {
  padding: 0 20px;
}

.nav-wrapper ul a
{
	display: block;
	color: #666;
	text-decoration: none;
}

.nav-wrapper ul li
{
	position:relative;
	float: left;
	margin: 0;
	padding: 0;
}

.nav-wrapper ul li.current-menu-item
{
	background: #ddd;
}

.nav-wrapper ul ul
{
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	padding: 0;
}

.nav-wrapper ul ul li
{
	float: none;
	width: 200px
}

.nav-wrapper ul li:hover > ul
{
	display: block
}

.minus {
  color: red;
}

.plus {
  color: green;
}
